## Create a table for recording volume per a time interval

In [10]:
import pandas as pd
import itertools
from datetime import datetime

In [2]:
df = pd.DataFrame(columns = ['Year', 'Month', 'Day', 'Volume_total', 'Volume', 'Difference', 'Note'])

In [11]:
datels = pd.date_range(start="2018-08-01",end="2021-01-31").to_pydatetime().tolist()

In [18]:
Years = []
Months = []
Days = []
for i in datels:
    Years.append(str(i)[:4]) #locate year info
    Months.append(str(i)[5:7]) #locate month info
    Days.append(str(i)[8:10]) #locate day info

In [25]:
df.Year = Years
df.Month = Months
df.Day = Days

In [26]:
df

     Year Month Day Volume_total Volume Difference Note
0    2018    08  01          NaN    NaN        NaN  NaN
1    2018    08  02          NaN    NaN        NaN  NaN
2    2018    08  03          NaN    NaN        NaN  NaN
3    2018    08  04          NaN    NaN        NaN  NaN
4    2018    08  05          NaN    NaN        NaN  NaN
..    ...   ...  ..          ...    ...        ...  ...
910  2021    01  27          NaN    NaN        NaN  NaN
911  2021    01  28          NaN    NaN        NaN  NaN
912  2021    01  29          NaN    NaN        NaN  NaN
913  2021    01  30          NaN    NaN        NaN  NaN
914  2021    01  31          NaN    NaN        NaN  NaN

[915 rows x 7 columns]

In [28]:
#write to csv
path = "/Users/ze/Desktop/Climate Change/"
df.to_csv(path + 'VolumeRecord_Climate Change.csv', index=True)